body {
    font-family: montserrat;
}
/*Header*/
.header {
    background-color: #ffffff;
    padding: 0px;
    overflow: hidden;
}
.logo {
    float: left;
}
.titulo {
    float: left;
}
h1 {
    font-size-adjust: unset;
    color: #192a56;
    margin: 30px;
}
.logo img{
    width: 100px;
    padding-left: 40px;
}
.titulo p {
    font-size: 8;
    padding-left: 110px;
    padding-top: 0%;
    margin-top: 0%;
}
/*Fin Header*/
/*Menu*/
.menu {
    list-style: none;
    padding: 0;
    background: #192a56;
    width: 100%;
    max-width: 100%;
    margin: auto;
    font: medium;
    font-size: 20px;
    text-align: center;
}
.menu li a {
    text-decoration: none;
    color: white;
    padding: 20px;
    display: block;
}
.menu li {
    display: inline-block;
    text-align: center;
}
.menu li a:hover {
    background: #111e44;
}
hr{
    color: #8a0202;
    width: 100%;
    height: 5px;
    background-color: #8a0202;
}

/*fin Menu*/

/*Carrusel*/

#carrusel{
    margin: auto;
    background-color: white;
    width: 800px;
    padding: 30px;
}
ul, li{
    margin: 0;
    padding: 0;
    list-style: none;
}
ul.slider{
    position: relative;
    width: 800px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
}
ul.slider li{
position: absolute;
left: 0;
top: 0;
opacity: 0;
width: inherit;
height: inherit;
background-color: white;
transition: opacity .5s;
}
ul.slider li img{
    width: 100%;
    height:300px;
    object-fit: cover;
    border: gray
}
ul.slider li:first-child{
    opacity: 1;
}
ul.slider li:target{
opacity: 1;
}
.menu_slide{
    text-align: center;
    margin: 15px;
}
.menu_slide li{
    display: inline-block;
    text-align: center;
}
.menu_slide li a{
    display: inline-block;
    color: white;
    text-decoration: none;
    background-color: #192a56;
    padding: 10px;
    width: 7px;
    height: 7px;
    font-size: 7px;
    border-radius: 100px;
}
/*Fin Slider*/

/*Seccion 2*/
.horizontal{
    background-color: #8a0202;
    padding: 10px;
    overflow: hidden;
    position: relative;
}
.horizontal div {
    border: white solid 1px;
}
.mision {
    float: left;
    padding: 30px;
    margin: 40px;
    margin-left: 10%;
    color: #ffffff;
    max-width: 30%;
    text-align: justify;
}
.vision {
    float: left;
    padding: 30px;
    margin: 40px;
    margin-left: 10%;
    color: #ffffff;
    max-width: 30%;
    text-align: justify;    
}

/*termina seccion 2*/
.redes {
    height: 50px;
    background-color: #ffffff;
    padding-top:30px;
    padding-bottom: 0px;
}
.redes h2 {
    text-align: center;
    font-weight: bold;
    color: #192a56;
}
.social {
    text-align: center;
    padding-top: 0px ;
    padding-bottom: 0px;
}
.social li {
    display: inline-block;
    text-align: center;
}
.social img {
    width: 35px;
    padding: 10px;
    position: center;
}